@charset "UTF-8";
/* Підключення шрифту в ручну*/
@import url("https://fonts.googleapis.com/css?family=Inter:400,800&display=swap");
/* Шрифт № 1 */
@font-face {
  font-family: "CoreSansC-500";
  src: url("..//fonts/CoreSansC-55Medium.woff2") format("woff2"), url("..//fonts/CoreSansC-55Medium.woff") format("woff");
  wont-weight: 500;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* за замовченням: ЇХ писати НЕ ТРЕБА */
/* 	flex-grow: 0;   при значенні 1 ми дозволяємо займати ВЕСЬ ВІЛЬНИЙ ПРОСТІР
	flex-grow: 1;	1 дозволяє зменшуватись МЕНЬШЕ ніж н/п flex-basis:50рх.
	flex-basis: auto; скільки контенту - стільки і буде займати ширину
	font-weight: 400;
	font-style: normal;
	color: #000;
 */
/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

/* Прибирання стилізації для КНОПОК від БРАУЗЕРІВ */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* FORM */
body {
  color: steelblue;
  background-color: antiquewhite;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px; /* 1240 + 15 + 15 */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.block h1 {
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}
.block h1::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6px;
          flex: 0 0 6px;
  background-color: turquoise;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block h1:hover::before {
  background-color: yellow;
}
.block h1:not(:last-child) {
  margin-bottom: 20px;
}
.block__column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
}
.block__card {
  background-color: blue;
  border-radius: 15px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block__item {
  padding: 5px 10px;
  margin-bottom: 25px;
  border: 1px solid red;
  display: block;
}
.block__card:hover .block__item--2 {
  visibility: visible;
  background-color: rgb(17, 174, 232);
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.block__item--2 {
  padding: 30px;
  margin-bottom: 35px;
  background-color: antiquewhite;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.block__item--2:not(:last-child) {
  margin-bottom: 20px;
}
.block__button {
  padding: 5px 25px;
  background-color: aqua;
  font-size: 20px;
  color: #000;
}
.block__button:not(:last-child) {
  margin-bottom: 10px;
}