// Підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Компоненти, сторінки
@import "_common.scss";



body {
	background-color: rgb(2, 66, 177);
}



.wrapper {
	overflow: clip;
	min-height: 100%;
	

	display: flex;			//прижимаем футер книзу
	flex-direction: column; //прижимаем футер книзу
}
.wrapper main {
	flex-grow: 1;			//прижимаем футер книзу
}


// для усіх "__container" однаково
[class*="__container"] {
	max-width: 1270px;/* 1240 + 15 + 15 */
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}



//SCSS основні стилі 
.hero {							//відкрили самий блок hero
	padding: 150px 0;
	text-align: center;
	height: 100vh;
	display: flex;
	align-items: center;
	//margin-bottom: 20px;
	@media (max-width:767px){		// робимо @media (max-width) 
		padding: 50px 0;
	}
	@media (max-width:350px){		// робимо @media (max-width) 
		padding: 30px 0;
	}

	color: rgb(235, 240, 245);
	background-image: url(../img/beach.webp);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;


	// .hero__conteiner

	// .hero__content
	&__content {	
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		//grid-template-columns: 1fr 300px 1fr;
		gap: 20px;
		//justify-items: center;			//вирівнюємо контент по центра разом з планетою
		align-items: center;			//вирівнюємо контент по центра разом з планетою

		@media (max-width:360px){		// робимо @media (max-width) 
			grid-template-columns: repeat(3, 1fr);
		}
	}

	// .hero__title
	&__title {
		grid-column: span 3;
		@media (max-width:767px){		// робимо @media (max-width) 
			grid-column: span 6;
		}		
		font-family: 'CoreSansC-500';
		font-size: 140px;
		line-height: 125%;
		color: #fffcfc;
		font-weight: 900;
		padding: 20px;
		
		@media (max-width:992px){		// робимо @media (max-width) 
			font-size:100px;
		}
		@media (max-width:767px){		// робимо @media (max-width) 
			font-size: 55px;
		}
		@media (max-width:380px){		// робимо @media (max-width) 
			font-size: 75px;
		}

		position: relative;				//--цетнруємо блок 'Miami' по ЦЕНТРУ
		text-transform: uppercase;
		text-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  //получается уже красиво надпись 'Miami'
		
	& p:nth-child(2) { 					// для 2 ЗАГОЛОВКА - Beach- показать картинку полностью 
		color: #eaf0f1;
		overflow: hidden;
		z-index: 2;

		position: absolute;					//цетнруємо блок 'Miami' по ЦЕНТРУ
		top:50%;							//цетнруємо блок 'Miami' по ЦЕНТРУ
		left: 50%;							//цетнруємо блок 'Miami' по ЦЕНТРУ
		transform: translate(-50%, -50%);  //цетнруємо блок 'Miami' по ЦЕНТРУ
		transition: 0.5s; 
		clip-path: polygon(0 0, 100% 1%, 100% 0, 0% 100%); // теперь надпись № 1 справа и наполовину черная, а верхняя полностью ВИДНАЯ, а копировали код в clip-pathс полным квадратом 
	}
	& p:nth-child(2):hover { // для 2 ЗАГОЛОВКА-Miami-
		clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%); // НАПИСЬ Miami видно полностью, а Dreem вниз становится другого цвета
	}
	& p:nth-child(1) { // теперь для "~ p" 1-го ЗАГОЛОВКА-Miami-
		color: #000;
	}
	& p:nth-child(1):hover ~ p { // теперь для "~ p" 1-го ЗАГОЛОВКА-Miami
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); // теперь нижнюю надпись видно полностью, а копировали код в clip-pathс пустым квадратом
	}
	}


	// .hero__sub-title
	&__sub-title {
		grid-template-columns: repeat(1, 1fr);
		grid-column: span 6;

		font-family: 'CoreSansC-500';
		line-height: 130%;
		font-size: 35px;
		color: #fffcfc;
		font-weight: 500;
		padding: 20px;
		text-shadow: 5px 0px 40px rgb(70, 67, 67);  //получается уже красиво надпись 'Miami'

		@media (max-width:998px){		// робимо @media (max-width) 
			font-size:30px;
		}
		@media (max-width:940px){		// робимо @media (max-width) 
			font-size: 25px;
		}
	}


	//.&__hero__logo 
	&__logo {
		grid-column: span 3;	
		position: relative;
		padding-bottom: 55.11811%; /* 700/1270 */
		width: 100%;	//	або width: 300px;

		@media (max-width:767px){		// робимо @media (max-width) 
			grid-column: span 6;
			padding-bottom: 35.433071%; /* 450/1270 */
			width: 100%;	//	або width: 300px;
		}

	}

	&__logo img{	
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}								//закрили самий блок hero







//-----------------------------------------------------------------------
.block {
	padding: 50px 0;
	color: rgb(235, 240, 245);
/* 	background-image: url(../img/01.webp);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover; */
	@media (max-width:992px){		// робимо @media (max-width) 
		padding: 20px 0;
	}
	@media (max-width:350px){		// робимо @media (max-width) 
		padding: 10px 0;
	}
	h1 {
		font-size: 60px;
		padding: 35px 0 15px 0;
		font-weight: 500;
		font-family: 'CoreSansC-500';
		text-align: center;
		filter:drop-shadow(10px 2px 20px rgb(2, 241, 233));

		display: grid;
		grid-template-columns: repeat(1),(minmax(290px, 1fr));
		@media (max-width:992px){		// робимо @media (max-width) 
			font-size: 45px;
		}
		@media (max-width:450px){		// робимо @media (max-width) 
			font-size: 35px;
		}
	}

	h2 {		//відкрили скобку саме для h1
		padding: 20px 5px;
		display: flex;
		gap: 6px;
		line-height: 150%;
		font-size: 20px;
		font-family: 'CoreSansC-500';
		@media (max-width:450px){		// робимо @media (max-width) 
			font-size: 18px;
		}
	&::before {				//вкладеність
		content: "";
		display: inline-block;
		width: 6px;
		height: 17px;
		flex: 0 0 6px;
		background-color: turquoise;
		border-radius: 6px;
		margin-top: 7px;
		transition: 0.5s;
	}
	&:hover::before {		//вкладеність
		background-color: yellow;
		}
	&:not(:last-child) {	//вкладеність
		margin-bottom: 20px;
	}
	}		//закрили скобку саме для h1




	// .block__column (це колонка для карток)
	&__column {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		@media (max-width:992px){		// робимо @media (max-width) 
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:767px){		// робимо @media (max-width) 
			grid-template-columns: repeat(1, 1fr);	
	}
	}


	// .block__card 			(це сама картка 1)
	&__card {
		content: "";						 // ставимо фон для картки
		background-image: url(../img/02.jpg);// ставимо фон для картки
		background-repeat: no-repeat;		// ставимо фон для картки
		background-position: center;		// ставимо фон для картки
		background-size: cover;				// ставимо фон для картки
		width: 100%;						// ставимо фон для картки
		height: 100%;						// ставимо фон для картки

		//aspect-ratio: 400 / 211;			// розмір фото по макету ШИРИНА та ВИСОТА

		position: relative;		//позіціонуємо плашку при наведені на картку
		overflow: hidden;
		
		color: #fff;
		font-weight: 700;
		font-size: 18px;
		border-radius: 15px;
		box-shadow: 2px 0 40px #c1c0c0;
		text-align: center;		//весь контент по центру
		transition: 0.5s;
	&>*:last-child {				// відміняємо відступ у останнього елемента при зміні контента в картці 
		margin-bottom: 0;
	}
	&::before {					// створили плашку при наведені на картку
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #c8c8c881;
			//transform: translate(0px, 0px);   // так тоже класно виходить 
			transform: translate(-100%, 0px); 
			transition: 0.5s;
			opacity: 0.5;
			z-index: 1;
			
		}
		&:hover::before {
			// transform: translate(-100%, 0px); // так тоже класно виходить 
			transform: translate(0px, 0px); 
		}
	}

	//	карта 2
	.block__card--2 {
		content: "";						 // ставимо фон для картки
		background-image: url(../img/03.jpg);// ставимо фон для картки
		background-repeat: no-repeat;		// ставимо фон для картки
		background-position: center center;		// ставимо фон для картки
		background-size: cover;				// ставимо фон для картки
		width: 100%;						// ставимо фон для картки
		height: 100%;						// ставимо фон для картки
	}
	//	карта 3
	.block__card--3 {
		content: "";						 // ставимо фон для картки
		background-image: url(../img/04.jpg);// ставимо фон для картки
		background-repeat: no-repeat;		// ставимо фон для картки
		background-position: center;		// ставимо фон для картки
		background-size: cover;				// ставимо фон для картки
		width: 100%;						// ставимо фон для картки
		height: 100%;						// ставимо фон для картки
	}

	//карта 4
	.block__card--4 {
		content: "";						 // ставимо фон для картки
		background-image: url(../img/05.jpg);// ставимо фон для картки
		background-repeat: no-repeat;		// ставимо фон для картки
		background-position: center;		// ставимо фон для картки
		background-size: cover;				// ставимо фон для картки
		width: 100%;						// ставимо фон для картки
		height: 100%;						// ставимо фон для картки
	}


		//карта 5
		.block__card--5 {
			content: "";						 // ставимо фон для картки
			background-image: url(../img/06.jpg);// ставимо фон для картки
			background-repeat: no-repeat;		// ставимо фон для картки
			background-position: center;		// ставимо фон для картки
			background-size: cover;				// ставимо фон для картки
			width: 100%;						// ставимо фон для картки
			height: 100%;						// ставимо фон для картки
		}


				//карта 6
				.block__card--6 {
					content: "";						 // ставимо фон для картки
					background-image: url(../img/07.jpg);// ставимо фон для картки
					background-repeat: no-repeat;		// ставимо фон для картки
					background-position: center;		// ставимо фон для картки
					background-size: cover;				// ставимо фон для картки
					width: 100%;						// ставимо фон для картки
					height: 100%;						// ставимо фон для картки
				}


	// .block__item 			(це елементи в картці)
	&__item {
		padding: 10px 10px;
		margin-bottom: 10px;
		text-shadow: -2px 1px 2px #000;
	}
								// показали елемент картки
	&__card:hover &__item--2 {
		visibility: visible;
		background-color: rgb(17, 232, 189);
		opacity: 1;
		transition: 0.4s;
	}


	// .block__item--2
		&__item--2 {			//сховали елемент картки -модифікатор-
			padding: 15px;
			font-weight: 500;
			background-color: antiquewhite;
			visibility: hidden;
			opacity: 0;
			transition: 0.8s;
			margin-bottom: 15px;

			position: relative;						// витягнули item--2 наверх плашки
			z-index: 2;								// витягнули item--2 наверх плашки
		}



		// links 
		.block {		// відкрили блок links

			// .block__list
			&__list {
				line-height: 120%;
				text-shadow: none;
			}
	
			// .block__link
			&__link {
				display: flex;
				gap: 25px;
				cursor: pointer;
				justify-content: flex-start;
				text-align: left;
				&::before {
					content: "";
					width: 10px;
					height: 10px;
					flex: 0 0 10px;
					background-color: #fff;
					border-radius: 50%;
					display: inline-block;
					margin-top: 10px;
					cursor: pointer;
					transition: 0.5s;
					border: 2px solid transparent;
				}
				&:hover::before {
					background-color: #13f2fa;
					border: 2px solid #fff;
				}
				& a:hover {
					background-color: #a3ede24c;
				}
				& a {
					padding: 5px 10px;
					border-radius: 10px;
				}
			}
				}		// закрили блок links
	



	// block__button			// кнопка з посиланням
	&__button {
		padding: 5px 25px;
		background-color: rgb(17, 232, 189);
		font-size: 20px;
		color: #000;
		text-transform: capitalize;
		display: inline-block;
		
		border: 1px solid transparent;
		border-radius: 10px;
		color: #fff;
		transition: all 0.5s;
		opacity: 1;								// робимо плавність 
		margin-bottom: 10px;
		position: relative;						// витягнули кнопку наверх плашки
		z-index: 2;								// витягнули кнопку наверх плашки
	}
	&__button:hover {
		background-color: aqua;
		transform: translateY(-5px);
		border: 1px solid #fff;
		opacity: 1;								// робимо плавність 
	}

}//тут закрили скобку для всього БЛОКУ


//--------------------------------------------------------------------------


.plan {								// відкрили блок
	padding: 80px 0 50px 0;

	// .plan__title
	&__title {
		text-align: center;
		font-size: 25px;
		color: #fff;
		margin-bottom: 15px;
	}

	// .plan__sub-title
	&__sub-title {
		text-align: center;
		font-size: 20px;
		color: #fff;
		margin-bottom: 50px;
	}

	// .plan__card cards
	&__card {	
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 20px;
		row-gap: 25px;
		@media (max-width:1100px){
			grid-template-columns: repeat(4, 1fr);
		}
		@media (max-width:920px){
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width:767px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:500px){
			grid-template-columns: repeat(1, 1fr);
		}
	}



	// .plan__item card
	&__item {	
		position: relative;			//позіционування номеру клітини
		overflow: hidden;			//ховаємо частину цифри щоб не виходила за межі колонки

		border: 1px solid #0c4bc9;
		box-shadow: 5px 0px 20px #02147c;
		transform: scale(1.001);
		transition: 0.5s;

		&:hover {
			transform: scale(1.1);
		}

		padding: 20px;
		text-align: left;		
	&>*:last-child {				// відміняємо відступ у останнього елемента при зміні контента в картці 
		margin-bottom: 0;
	}
	}

	//.plan__icon--number
	&__number {
		font-size: 85px;
		text-align: left;
		font-weight: 900;
		color: #9e9e9e;
		font-family: 'CoreSansC-95Blac';
		opacity: 0.5;

		position: absolute;				//позіционування номеру клітини
		top: -15px;							//позіционування номеру клітини
		left: -19px;						//позіционування номеру клітини
		width: 100%;					//позіционування номеру клітини
		height: 100%;					//позіционування номеру клітини
		object-fit: contain;			//позіционування номеру клітини
	}
	


	// .plan__icon
	&__icon {
		position: relative;
		padding-bottom: 27.559055%; /* 350/1270 */
		width: 100%;
		margin-bottom: 15px;
	}

	&__icon img{
		position: absolute;
		top: 0px;
		right: -65px;
		width: 100%;
		height: 100%;
		object-fit: contain;	
	}

	// .plan__text
	&__text {
		font-size: 18px;
		color: #e1e1e1;
		line-height: 130%;
		margin-bottom: 15px;

	}
}								// закрили блок
