// Підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Компоненти, сторінки
@import "_common.scss";



body {
	color: rgb(235, 240, 245);
	background-color: rgb(2, 66, 177);
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;			//прижимаем футер книзу
	flex-direction: column; //прижимаем футер книзу

}
.wrapper main {
	flex-grow: 1;			//прижимаем футер книзу
}


// для усіх "__container" однаково
[class*="__container"] {
	max-width: 1270px;/* 1240 + 15 + 15 */
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}



//SCSS основні стилі 
.block {
	h1 {		//відкрили скобку саме для h1
		padding: 20px 5px;
		display: flex;
		gap: 6px;
	&::before {				//вкладеність
		content: "";
		display: inline-block;
		width: 6px;
		height: 21px;
		flex: 0 0 6px;
		background-color: turquoise;
		border-radius: 6px;
		transition: 0.5s;
	}
	&:hover::before {		//вкладеність
		background-color: yellow;
		}

	&:not(:last-child) {	//вкладеність
		margin-bottom: 20px;
	}
	}		//закрили скобку саме для h1




	// .block__column (це колонка для карток)
	&__column {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		@media (max-width:850px){		// робимо @media (max-width) 
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:570px){		// робимо @media (max-width) 
			grid-template-columns: repeat(1, 1fr);	
	}
	}


	// .block__card 			(це сама картка)
	&__card {
		content: "";						 // ставимо фон для картки
		background-image: url(../img/02.jpg);// ставимо фон для картки
		background-repeat: no-repeat;		// ставимо фон для картки
		background-position: center;		// ставимо фон для картки
		background-size: cover;				// ставимо фон для картки
		width: 100%;						// ставимо фон для картки
		height: 100%;						// ставимо фон для картки

		aspect-ratio: 400 / 211;			// розмір фото по макету ШИРИНА та ВИСОТА

		position: relative;		//позіціонуємо плашку при наведені на картку
		overflow: hidden;
		
		color: #fff;
		font-weight: 700;
		font-size: 18px;
		border-radius: 15px;
		box-shadow: 2px 0 40px #c1c0c0;
		text-align: center;		//весь контент по центру
		transition: 0.5s;
	&>:last-child {				// відміняємо відступ у останнього елемента при зміні контента в картці 
		margin-bottom: 0;
	}
	&::before {					// створили плашку при наведені на картку
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #c8c8c881;
			//transform: translate(0px, 0px);   // так тоже класно виходить 
			transform: translate(-100%, 0px); 
			transition: 0.5s;
			opacity: 0.5;
			z-index: 1;
			
		}
		&:hover::before {
			// transform: translate(-100%, 0px); // так тоже класно виходить 
			transform: translate(0px, 0px); 
		}
	}



	// .block__item 			(це елементи в картці)
	&__item {
		padding: 10px 10px;
		margin-bottom: 10px;
	}
								// показали елемент картки
	&__card:hover &__item--2 {
		visibility: visible;
		background-color: rgb(17, 232, 189);
		opacity: 1;
		transition: 0.4s;
	}


	// .block__item--2
		&__item--2 {			//сховали елемент картки -модифікатор-
			padding: 15px;
			font-weight: 500;
			background-color: antiquewhite;
			visibility: hidden;
			opacity: 0;
			transition: 0.8s;
			margin-bottom: 15px;

			position: relative;						// витягнули item--2 наверх плашки
			z-index: 2;								// витягнули item--2 наверх плашки
		}



		// links 
		.block {		// відкрили блок links

			// .block__list
			&__list {
				line-height: 130%;
			}
	
			// .block__link
			&__link {
				display: flex;
				gap: 25px;
				justify-content: center;
				text-align: justify;
				&::before {
					content: "";
					width: 6px;
					height: 6px;
					flex: 0 0 6px;
					background-color: #fff;
					border-radius: 50%;
					display: inline-block;
					margin-top: 10px;
				}
			}
				}		// закрили блок links
	



	// block__button			// кнопка з посиланням
	&__button {
		padding: 5px 25px;
		background-color: rgb(17, 232, 189);
		font-size: 20px;
		color: #000;
		text-transform: capitalize;
		display: inline-block;
		
		border: 1px solid transparent;
		border-radius: 10px;
		color: #fff;
		transition: all 0.5s;
		opacity: 1;								// робимо плавність 

		position: relative;						// витягнули кнопку наверх плашки
		z-index: 2;								// витягнули кнопку наверх плашки
	}
	&__button:not(:last-child) {
		margin-bottom: 10px;
	}
	&__button:hover {
		background-color: aqua;
		transform: translateY(-5px);
		border: 1px solid #fff;
		opacity: 1;								// робимо плавність 
	}

}//тут закрили скобку для всього БЛОКУ

